@import "tailwindcss";
@import "tw-animate-css";

/* Hide scrollbar for all browsers */
::-webkit-scrollbar {
    display: none; /* Hides scrollbar in Chrome, Safari, and Edge */
  }
  
  html, body {
    scrollbar-width: none; /* Hides scrollbar in Firefox */
    -ms-overflow-style: none; /* Hides scrollbar in Internet Explorer */
    overflow-y: scroll; /* Ensures scrolling still works */
  }
  

